.carouselSection {
    position: relative;
    margin-bottom: 70px;

    &>.contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .carouselTitle {
        font-style: 24px;
        color: #ffff;
        font-weight: normal;
    }
    .resultNotFound {
        font-size: 24px;
        color: var(--black-light);
        text-align: center;
    }
}